{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
  }

body{
    text-align: center;
    background:linear-gradient(to bottom, #6ab7f5, #fff);
    /*a altura mínima de um elemento*/
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;/*Com isso, os elementos de position absolut, irão respeitar a tag main, as delimitações*/
  }
  
  .pokedex {
    width: 100%;
    max-width: 425px;
  }
  .pokemon__img{
    position: absolute;/*imagem não altera o restante do layout*/
    bottom: 50%;
    left: 35%;
    
    /*Usamos % ao invés de PX, pois queremos 55% do tamanho total da div, se colocasse em px,    quando fosse diminuindo a tela, a imagem ficaria bem maior que a div main*/
    transform: translate(-63,20%);
    /*translate(x,y); usamos quando queremos andar com o elemento nos eixos x e y* OBS: esse % é referente ao tamanho da IMAGEM E NÃO DA DIV*/
    height: 17%;
  }
  .pokemon_data{
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top:50.5%;
    right:27%;
    font-family: 'Oxanium', cursive;
    text-transform: capitalize;
    font-size:clamp(8px,5vw,25px);
    /*font-size:clamp(min,defalt,max); Serve para ter valores mim, med e max na fonte, pq se colocar com valor fixo de alguns PX, dependendo do tamanho da tela, a fonte vai ficar maior que a div*/

  }
  .pokemon_number{
    color: #3a444d;
    font-family: 'Oxanium', cursive;
    text-transform: capitalize;
    
  }
  .pokemon_name{
    color:#3a444d; ;
    text-transform: capitalize;

  }
  .form{
    position: absolute;
    /*background-color: red;*/
    width: 65%;
    top:65%;
    left:13.5%;
  }
  .input_search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
  }
  .buttons{
    position: absolute;
    bottom: 10%;
    left:50%;
    width: 65%;
    transform: translate(-57%,0);
    display: flex; /*pra ficar um ao lado do outro;*/
    gap: 20px; /*gap: pra ficar um pouco separado;*/
  }

  .button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  }

  .button:hover{
    background-color: #616060;
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
  }